.ais-SearchBox-submit {
  display: none;
}

.ais-SearchBox-reset {
  display: none;
}

.ais-SearchBox-resetIcon {
  display: none;
}

.ais-Hits {
  padding: 0rem;
  height: 100%;
}

.ais-Hits-list {
  margin: 0rem;
}

.ais-Hits-item {
  list-style: none;
  margin: 0rem;
}