.squareBox {
  background-color: var(--inverse-color);
  box-shadow: 0px 0.4rem 1.6rem rgba(0, 0, 0, 0.07);
  border-radius: 0.8rem;
  height: 17.9rem;
  max-width: 32rem;
  width: 100%;
  padding: 2.1rem;
}
