.header {
  width: 100%;
  height: 27rem;
  background: hsl(204, 45%, 98%);
  position: relative;
  text-align: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.headerItems {
  max-width: 152rem;
  padding: 4rem;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
}

.headerPattern {
  position: absolute;
  top: 0;
  right: 0;
  max-width: 100%;
}

.parent {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.container {
  max-width: 152rem;
  width: 100%;
  min-height: 50rem;
  height: 100%;
  padding: 4rem;
  margin-bottom: 12rem;
}

.tabContainer {
  position: relative;
  width: 100%;
  padding-bottom: 0.85rem;
  border-bottom: 0.1rem solid var(--gray-200);
  display: flex;
  align-items: center;
  & > p {
    color: var(--gray-400);
    margin: 0rem;
    font-weight: 500;
    font-size: 1.5rem;
    cursor: pointer;
    padding: 1rem 1.5rem;
    border-radius: 0.75rem;
    transition: 0.2s all ease-in-out;
    &:hover {
      background-color: var(--gray-50);
      color: var(--gray-700);
    }
    &:is(:first-child) {
      transform: translate(-1.25rem);
    }
  }
}

.activeBorder {
  width: 10rem;
  position: absolute;
  height: 0.1rem;
  top: 4.69rem;
  border-radius: 0.25rem;
  background-color: var(--gray-800);
  transition: 0.2s all ease-in-out;
}

.activeTab {
  color: var(--gray-800) !important;
}

.articleContainer {
  margin-top: 4rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  gap: 4rem;
}

.preview {
  width: 100%;
  min-height: 21rem;
  display: flex;
  justify-content: space-between;
  @media only screen and (max-width: 1100px) {
    flex-direction: column-reverse;
  }
}

.imagePreview {
  max-height: 20rem;
  max-width: 45.4rem;
  width: 100%;
  border-radius: 1rem;
  object-fit: cover;
  @media only screen and (max-width: 1100px) {
    max-height: 100%;
    max-width: 100%;
    margin-bottom: 3rem;
  }
}

.previewDetails {
  max-width: 64rem;
  height: 100%;
}

.previewUser {
  width: 100%;
  display: flex;
  align-items: center;
}

.previewPfP {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  object-fit: cover;
}