:root {
  --text-color: hsl(0, 0%, 0%);
  --blue-text-color: hsl(209, 45%, 52%);
  --inverse-color: hsl(0, 0%, 100%);
  --btn-color: hsl(0, 0%, 7%);
  --nav-border: hsl(0, 0%, 91%);
  --gray-text-color: hsl(0, 0%, 75%);
  --gray-button-text: hsla(0, 0%, 7%, 0.51);
  --gray-button-bg: hsla(0, 0%, 7%, 0.07);
  --author-box: hsl(0, 0%, 96%);
  --author-text-bg: hsl(0, 0%, 80%);
  --input-text: hsl(0, 0%, 88%);
  --input-border: hsl(0, 0%, 91%);
  --input-background: hsla(0, 0%, 96%, 0.02);

}

body {
  background-color: var(--inverse-color);
  color: var(--text-color);
}

html {
  font-size: 62.5%; // setting the font size to 10px
  @media only screen and (max-width: 1280px) {
    font-size: 55%;
  }
  @media only screen and (max-width: 768px) {
    font-size: 50%;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

// defaults

.container-flex {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.default-link {
  color: var(--text-color);
  opacity: 0.75;
  text-decoration: underline;
  transition: all 0.15s ease-in-out;
  &:hover {
    opacity: 0.95;
  }
}

.blue-text {
  font-family: inherit;
  color: var(--blue-text-color);
  font-weight: 600;
  font-size: 1.3rem;
}

.dark-text {
  font-weight: 600;
  font-size: 1.9rem;
  color: var(--text-color);
}

.dark-text.lg {
  font-size: 2.3rem;
}

.heading {
  font-weight: 700;
  font-size: 4.1rem;
  color: var(--text-color);
}
.heading.md {
  font-size: 2.8rem;
}
.heading.sm {
  font-size: 2.4rem;
}

.heading.center {
  text-align: center;
}

.subheading {
  font-weight: 600;
  font-size: 2.6rem;
  color: var(--text-color);
}

.light-sub-heading {
  font-weight: 600;
  font-size: 2rem;
  line-height: 2.4rem;
  color: var(--gray-text-color);
}

.subheading.sm {
  font-size: 2.4rem;
}
.subheading.mxs {
  font-size: 2.2rem;
}
.subheading.xs {
  font-size: 1.6rem;
}
.subheading.bold {
  font-weight: 700;
}
.subheading.light {
  opacity: 0.29;
}

.normal-text {
  font-weight: 400;
  font-size: 2rem;
  color: var(--text-color);
  opacity: 0.5;
}
.normal-text.op-1 {
  opacity: 1;
}
.normal-text.bold {
  font-weight: 700;
}

.normal-text.sm {
  font-size: 1.6rem;
}

.normal-text.thin {
  font-weight: 300;
}

.cs {
  font-family: 'Spectral', 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
}

.main-btn {
  width: 100%;
  height: 6.1rem;
  border-radius: 0.8rem;
  background-color: var(--btn-color);
  color: var(--inverse-color);
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  font-family: inherit;
  &:hover {
    opacity: 0.85;
  }
}

.gray-btn {
  width: 100%;
  height: 6.1rem;
  border-radius: 0.8rem;
  background-color: var(--gray-button-bg);
  color: var(--gray-button-text);
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  border: none;
  font-family: inherit;
  &:hover {
    opacity: 0.85;
  }
}


.avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 9rem;
  object-fit: cover;
}
.avatar.sm {
  width: 5.6rem;
  height: 5.6rem;
}

.main-btn.sm {
  width: 15rem;
  height: 4.2rem;
  font-size: 1.5rem;
}

.main-btn.sm.pop {
  margin-right: 2rem;
}

.mb-main {
  margin-bottom: 12rem;
}

.nm {
  margin: 0rem;
}

.nm-top {
  margin-top: 0rem;
}

.nm-bottom {
  margin-bottom: 0rem;
}

.txt-left {
  text-align: left;
}
.txt-center {
  text-align: center;
}

.flex-inline {
  display: flex;
  align-items: center;
}

.width-100 {
  width: 100%;
}

.height-100 {
  height: 100%;
}

.mt-1 {
  margin-top: 1rem;
}
.mt-1-5 {
  margin-top: 1.5rem;
}
.mt-12 {
  margin-top: 12rem;
}
.ml-1 {
  margin-left: 1rem;
}
.ml-1-5 {
  margin-left: 1.5rem;
}
.ml-2 {
  margin-left: 2rem;
}
.mr-1 {
  margin-right: 1rem;
}
.mr-1-5 {
  margin-right: 1.5rem;
}
.m-0-auto {
  margin: 0 auto;
}

.brdr-right {
  border-right: 0.1rem solid rgba(30, 40, 51, 0.07);
}

.flex {
  display: flex;
}
.flex.column {
  flex-direction: column;
}

.align-items-start {
  align-items: flex-start;
}
.align-items-center {
  align-items: center;
}

.justify-content-center {
  justify-content: center;
}
.justify-content-start {
  justify-content: flex-start;
}
.justify-space-between {
  justify-content: space-between;
}

.pointer {
  cursor: pointer;
}

.op-1 {
  opacity: 1 !important;
}

// fixes

.codex-editor__redactor {
  padding-bottom: 0rem !important;
}

.reader-max-width {
  max-width: 69rem;
  padding-bottom: 8rem;
}

.reader-paragraph {
  line-height: 3rem !important;
  & a {
    color: var(--text-color);
    opacity: 0.75;
    text-decoration: underline;
    transition: all 0.15s ease-in-out;
    &:hover {
      opacity: 0.95;
    }
  }
}

.reader-embed {
  width: 100%;
  height: 60rem;
}

.reader-list {
  line-height: 3rem !important;
  & a {
    color: var(--text-color);
    opacity: 0.75;
    text-decoration: underline;
    transition: all 0.15s ease-in-out;
    &:hover {
      opacity: 0.95;
    }
  }
}

.reader-image {
  margin: 3rem 0rem;
  & img {
    max-width: 100%;
  }
  & figcaption {
    font-size: 1.6rem;
    opacity: 0.5;
    font-family: 'Spectral', 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  }
}

.reader-blockquote {
  margin: 0rem;
  font-family: 'Spectral', 'Inter', sans-serif, -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
  Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue;
  font-style: italic;
  font-size: 2.1rem;
  font-weight: 500;
  opacity: 0.5;
  padding-left: 2rem;
  border-left: 0.5rem solid var(--text-color);
}

.wide-max-width {
  max-width: 85.6rem;
  width: 100%;
}

.main-padding {
  padding: 3.5rem;
  @media screen and (max-width: 768px) {
    padding: 2rem;
  }
  @media screen and (max-width: 576px) {
    padding: 1.5rem;
  }
}

.gray-input {
  background: var(--input-background);
  border: 1px solid var(--input-border);
  box-sizing: border-box;
  border-radius: 0.8rem;
  width: 100%;
  height: 4.2rem;
  outline: none;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 1.9rem;
  font-family: inherit;
  &::placeholder {
    text-align: center;
    color: var(--input-text);
  }
  &:placeholder {
    text-align: center;
    color: var(--input-text);
  }
  &:disabled {
    cursor: default;
  }
}