.container {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
}

.maxWidth {
  max-width: 112rem;
  width: 100%;
  padding: 3.5rem;
  margin-top: 3.1rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  @media only screen and (max-width: 768px) {
    padding: 2rem;
  }
  @media only screen and (max-width: 500px) {
    padding: 1rem;
  }
}

.spaceBetween {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
  }
}

.importButton {
  max-width: 26.5rem;
  width: 100%;
}

.articleGrid {
  display: grid;
  width: 100%;
  margin: 7rem 0rem;
  grid-template-columns: repeat(auto-fill, minmax(31.3rem, 1fr));
  grid-template-rows: auto;
  grid-gap: 2rem;
}

.article {
  width: 100%;
  min-height: 36rem;
  cursor: pointer;
  box-shadow: 0px 0.4rem 1.1rem rgba(0, 0, 0, 0.04);
  position: relative;
}

.articleContent {
  padding: 0rem 1.4rem;
}

.articleImage {
  width: 100%;
  height: 20rem;
  object-fit: cover;
}

.articleSelectedTick {
  position: absolute;
  top: 1rem;
  right: 1rem;
}