.container {
  margin-top: 10rem;
}

.header {
  max-width: 45rem;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form {
  margin: 0 auto;
  margin-top: 4rem;
  max-width: 55rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}