.landingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 3.5rem 0rem 3.5rem;
  max-width: 103.6rem;
  width: 100%;
}

.logoMaxWidth {
  @media only screen and (max-width: 786px) {
    & img {
      width: 15rem !important;
    }
  }
  @media only screen and (max-width: 400px) {
    & img {
      width: 11rem !important;
    }
  }
}

.landingConnect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.connectVector {
  max-width: 41rem;
  width: 100%;
  border-bottom: 0.1rem solid var(--text-color);
  opacity: 0.1;
  margin-right: 2rem;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.staticContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 2rem 3.5rem;
  border-bottom: 0.15rem solid var(--nav-border);
  @media only screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.proofOfPost {
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 480px) {
    margin-top: 2rem;
  }
}

.arweaveBadge {
  height: 4.2rem;
}

.popBadge {
  height: 4.2rem;
  margin-right: 1.5rem;
}