.landingContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 3.5rem 3.5rem 0rem 3.5rem;
  max-width: 112rem;
  width: 100%;
}

.logoMaxWidth {
  @media only screen and (max-width: 786px) {
    & img {
      width: 15rem !important;
    }
  }
  @media only screen and (max-width: 400px) {
    & img {
      width: 11rem !important;
    }
  }
}

.landingConnect {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  flex-grow: 1;
}

.connectVector {
  max-width: 41rem;
  width: 100%;
  border-bottom: 0.1rem solid var(--text-color);
  opacity: 0.1;
  margin-right: 2rem;
  @media only screen and (max-width: 768px) {
    display: none;
  }
}

.staticContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5.5rem;
  padding: 0rem 3.5rem;
  border-bottom: 0.15rem solid var(--nav-border);
}

.hasPop {
  @media only screen and (max-width: 480px) {
    flex-direction: column;
  }
}

.proofOfPost {
  display: flex;
  align-items: center;
  justify-content: center;
  @media only screen and (max-width: 480px) {
    margin-top: 2rem;
  }
}

.arweaveBadge {
  width: auto;
  @media only screen and (max-width: 1280px) {
    width: 88%;
  }
  @media only screen and (max-width: 768px) {
    width: 80%;
  }
}

.popBadge {
  height: 4.2rem;
  margin-right: 1.5rem;
}

.profile {
  height: 100%;
  max-width: 36rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-left: 0.2rem solid var(--gray-100);
}

.profileIcon {
  width: 3rem;
  height: 3rem;
  border-radius: 3rem;
  object-fit: cover;
  margin-left: 2rem;
}