.authorBox {
  display: flex;
  position: relative;
  width: 100%;
  min-height: 24rem;
  margin-top: 7rem;
  border-radius: 1.6rem;
  background-color: var(--author-box);
  padding: 4rem 2.7rem;
  align-items: center;
}

.authorBadge {
  position: absolute;
  top: -1.25rem;
  left: 5%;
}

.topLeftGradient {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  @media only screen and (max-width: 540px) {
    display: none;
  }
}

.bottomRightGradient {
  position: fixed;
  bottom: 0;
  right: 0;
  pointer-events: none;
  @media only screen and (max-width: 540px) {
    display: none;
  }
}