.profileContainer {
  position: relative;
}

.banner {
  height: 24rem;
  width: 100%;
  & img {
    height: 100%;
    width: 100%;
  }
  margin-bottom: 8rem;
}

.profilePadding {
  padding: 0rem 3.5rem;
}

.profile {
  max-width: 85rem;
  margin: 0 auto;
  padding-bottom: 0.25rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.13);
  margin-bottom: 4.5rem;
}

.profileHeader {
  display: flex;
  align-items: center;
  justify-content: space-between;
  @media only screen and (max-width: 768px) {
    flex-direction: column;
    align-items: flex-start;
    & button {
      margin-top: 3.5rem;
    }
  }
}

.profileNamePublicKey {
  margin-left: 4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.avatar {
  width: 11rem;
  height: 11rem;
  border-radius: 11rem;
  object-fit: cover;
}

.articles {
  padding: 0rem 3.5rem;
  min-height: 50vh;
}

.articleContainer {
  max-width: 85.6rem;
  margin: 0 auto;
  &:not(:first-child) {
    padding: 6rem 0rem;
  }
  &:first-child {
    padding-bottom: 6rem;
  }
  &:not(:last-child) {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.13);
  }
}

.articleImage {
  width: 100%;
  object-fit: cover;
}

.verticalContainer {
  display: flex;
  padding: 3rem 0rem;
  justify-content: space-between;
  @media only screen and (max-width: 940px) {
    flex-direction: column;
  }
}

.verticalImage {
  max-width: 18rem;
  width: 100%;
  height: 9rem;
  object-fit: cover;
}

.verticalArticleText {
  max-width: 55rem;
  width: 100%;
  @media only screen and (min-width: 940px) {
    margin-left: 2rem;
  }
  @media only screen and (max-width: 940px) {
    margin-top: 2rem;
  }
}

.verticalPreview {
  display: flex;
  max-width: 72rem;
  width: 100%;
  @media only screen and (max-width: 940px) {
    flex-direction: column;
  }
}

.editArticle {
  max-width: 6rem;
  width: 100%;
  cursor: pointer;
  margin-left: 3rem;
  height: max-content;
}

.verticalArticleAdditional {
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: flex-end;
  @media only screen and (max-width: 940px) {
    justify-content: flex-start;
    margin-top: 2rem;
    width: 100%;
  }
}

.onChainTag {
  margin-right: 3rem;
  width: 10.5rem;
}

.draftsTag {
  margin-right: 3rem;
  width: 7.3rem;
}

.profileAdditional {
  display: flex;
  align-items: center;
  gap: 3.5%;
}