.profileContainer {
  position: relative;
}

.banner {
  height: 17.5rem;
  width: 100%;
  & img {
    height: 100%;
    width: 100%;
  }
}

.profilePadding {
  padding: 0rem 3.5rem;
}

.profile {
  position: relative;
  top: -5rem;
  max-width: 85.6rem;
  margin: 0 auto;
  padding-bottom: 2.5rem;
  border-bottom: 0.1rem solid rgba(0, 0, 0, 0.13);
}

.avatar {
  width: 9rem;
  height: 9rem;
  border-radius: 9rem;
  object-fit: cover;
}

.articles {
  padding: 0rem 3.5rem;
}

.articleContainer {
  max-width: 85.6rem;
  margin: 0 auto;
  &:not(:first-child) {
    padding: 6rem 0rem;
  }
  &:first-child {
    padding-bottom: 6rem;
  }
  &:not(:last-child) {
    border-bottom: 0.1rem solid rgba(0, 0, 0, 0.13);
  }
}

.articleImage {
  width: 100%;
  object-fit: cover;
  @media only screen and (min-width: 768px) {
    height: 31.3rem;
  }
}
