.heroSection {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(32rem, 32rem));
  margin-top: 3rem;
  grid-gap: 2rem;
  justify-content: center;
}

.publishImage {
  max-width: 18rem;
  width: 100%;
}